body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#app {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
}

#calculator {
  width: 300px;
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#calculator h1 {
  text-align: center;
  font-size: 24px;
  margin-top: 0;
}

#calculator #display {
  height: 50px;
  background-color: #fff;
  color: #000;
  text-align: right;
  padding: 10px;
  font-size: 24px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

#calculator .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

#calculator button {
  border: none;
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 20px;
  font-size: 18px;
  color: #000;
  cursor: pointer;
}

#calculator button:hover {
  background-color: #d3d3d3;
}

#calculator button:active {
  background-color: #bfbfbf;
}

#calculator button.operator {
  background-color: #ff9800;
  color: #fff;
}

#calculator button.operator:hover {
  background-color: #f57c00;
}

#calculator button.operator:active {
  background-color: #e65100;
}

#calculator button#equals {
  grid-column: span 2;
}

#calculator button#zero {
  grid-column: span 2;
  text-align: left;
  padding-left: 30px;
}

#app input,
#app button {
  padding: 10px;
  margin: 10px;
  font-size: 18px;
}

#app button {
  background-color: #009879;
  color: white;
  border: none;
  cursor: pointer;
}

#app p {
  font-size: 18px;
  text-align: center;
}
